*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.planetWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(3,61,126,1) 0%, rgba(0,0,4,1) 100%);
    color: white;
    justify-content: center;
    align-items: center;
}
/*Detta är en template för min styling*/
.planetWrapperStyling{
    background: linear-gradient(90deg, rgb(53, 109, 172) 0%, rgb(4, 4, 86) 100%);
}

.smallPlanetWrapper{
    display: flex;
    /*background-color: rgba(46, 46, 46, 0.379);*/
    margin-left: 10%;
    margin-right: 5%;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.smallPlanet{
    border-radius: 50%;
    background-color: red;
}
.smallPlanet:hover{
    background-color: darkgray;
}
.merkurius{
    width: 1rem;
    height: 1rem;
}
.venus{
    width: 2rem;
    height: 2rem;
}
.jorden{
    width: 2rem;
    height: 2rem;
}
.mars{

    width: 1rem;
    height: 1rem;
}
.jupiter{
    width: 10rem;
    height: 10rem;
}
.saturnusWrapper{
    width: 8rem;
    height: 8rem;
}
.saturnus{
    width: 100%;
    height: 100%;
    position: relative;
}
.saturnusRing{
    width: 12rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(150deg);
    opacity: 0.4;
}
.uranus{
    width: 4rem;
    height: 4rem;
}
.neptunus{
    width: 4rem;
    height: 4rem;  
}
.largePlanetWrapper{
    position: absolute;
    left: -195%;
    height: 300%;
    width: 200%;
}
.largePlanet{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*background-color: yellow;*/
    justify-content: center;
    align-items: center;
}
.largePlanet:hover{
    background-color: orange;
}

.hidden {
    display: none;
}
.planetInfoWrapper{
    width: 100vw;
    display: none;
    /*background-color: rgba(240, 248, 255, 0.078);*/
    justify-content: center;
    align-items: center;
}
.span-h3{
    display: flex;
    justify-content: space-between;
}
.planetInfoText{
    line-height: 250%;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 60%;
    min-width: 40%;
}
.info-h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}
.info-h2{
    color: yellow;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1rem;

}
.info-p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.span-h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#info-moon{
    margin-top: 1rem;
}
.sunColor {
    background-color: yellow;
}
.merkuriusColor{
    background-color: grey;
}
.venusColor{
    background-color: rgb(215, 195, 195);
}
.jordenColor{
    background-color: rgb(24, 90, 244);
}
.marsColor{
    background-color: rgb(241, 112, 65);
}
.jupiterColor{
    background-color: rgb(241, 158, 103);
}
.saturnusColor{
    background-color: rgb(188, 178, 120);
}
.uranusColor{
    background-color: rgb(214, 227, 255);
}
.neptunusColor{
    background-color: rgb(90, 126, 157);
}